{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
        .espacement{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
{% endblock %}
{% block body %}
<div class="espacement">
    {{ parent() }}
    <form method="post" style="margin-top: 50px">

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Deconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Se connecter ou <a href="{{ path('app_register') }}">S'enregistrer</a></h1>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Adresse email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">nous ne partagerons jamais votre adresse email.</div>
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <div class="mb-3">
                <a href="{{ path('app_forgot_password_request') }}">mot de passe oublié ?</a>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> se rappeler de moi
            </label>
        </div>

        <button type="submit" class="btn btn-primary">se connecter</button>
    </form>
</div>
{% endblock %}
