{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% block head %}
{{ parent() }}
<style>
    .espacement{
        margin-left: 5%;
    }
</style>
{% endblock %}
<div class="espacement">
    {{ parent() }}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    <div>
        {{ form_label(registrationForm.email)}}
        {{ form_widget(registrationForm.email) }}
    </div>
    <div>
        {{ form_label(registrationForm.nom)}}
        {{ form_widget(registrationForm.nom) }}
    </div>
    <div>
        {{ form_label(registrationForm.prenom)}}
        {{ form_widget(registrationForm.prenom) }}
    </div>
    <div>
        {{ form_label(registrationForm.plainPassword)}}
        {{ form_widget(registrationForm.plainPassword)}}
    </div>
    <div>
        {{ form_label(registrationForm.adresse)}}
        {{ form_widget(registrationForm.adresse) }}
    </div>
    <div>
        {{ form_label(registrationForm.gamme_produit)}}
        {{ form_widget(registrationForm.gamme_produit) }}
    </div>
    <div>
        {{ form_label(registrationForm.agreeTerms)}}
        {{ form_widget(registrationForm.agreeTerms) }}
    </div>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
