{% extends 'base.html.twig' %}

{% block title %}Garage{% endblock %}
{% block head %}
{{ parent() }}
<style>
 .espacement{
     margin-left: 5%;
 }
</style>
{% endblock %}
{% block body %}
{{ parent() }}
<div class="espacement">
    <h1>Garage</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ garage.id }}</td>
            </tr>
            <tr>
                <th>Nom garage</th>
                <td>{{ garage.nom_garage }}</td>
            </tr>
            <tr>
                <th>Emplacement</th>
                <td>{{ garage.emplacement }}</td>
            </tr>
            <tr>
                <th>T1</th>
                <td>{{ garage.t1}} €</td>
            </tr>
            <tr>
                <th>T2</th>
                <td>{{ garage.t2}} €</td>
            </tr>
            <tr>
                <th>T3</th>
                <td>{{ garage.t3}} €</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('garage_index') }}">back to list</a>

    <a href="{{ path('garage_edit', {'id': garage.id}) }}">edit</a>

    {{ include('garage/_delete_form.html.twig') }}
</div>
{% endblock %}
