
<style>
    .dropdown-menu{
        width: 15%;
        height: 100px;
        overflow-y: scroll;
    }
  
  
  .bloc {
    display:inline-block;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
  }
  
  /*Réinitilaisation de la liste déroulante*/
  select {
    outline: 0;
    border: 0 !important;
    background: #F9F9F9;
    background-image: none;
    box-shadow: none;
    font-size: 1.2em;
  }
  
  /* Mise en forme de la balise select*/
  select {
    line-height: 1.5;
    width: 300px;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    background-color: #6c757d;
    color:white;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  td{
      margin-right: 5%;
      margin-left: 2%;
  }
  option{
    border-radius: 0.25rem;
  }

</style>

<div class="dropdown">
    
    {{ form_start(form) }}

    <div class="bloc">
        <table>
            <tr>
                <td>{{form_label(form.immat,'Immatriculation')}}</td>
                <td>{{form_widget(form.immat)}}</td>
                <td><br><br></td>
                <td>
                    <div class="select">
                        {% if marque is defined and marque !='' %}
                        <p><select id="marque" name="marque" onchange="update_modele()">
                            {% for M in marque %}
                                <option value="{{M.marque}}">{{M.marque}}</option>
                            {% endfor %}
                        </select>
                        <input id="liste_modele"type="hidden" value="{{modele|json_encode()}}">
                        <input id="liste_version"type="hidden" value="{{version|json_encode()}}">
                        </p>
                        <p>
                        <select id="modele" name="modele"onchange="update_version()">
                                <option value="{{modele[0].modele}}">{{modele[0].modele}}</option>
                        </select>
                        </p>
                        <p>
                        <select id="version" name="version">
                                <option value="{{version[0].version}}">{{version[0].version}}</option>
                        </select>
                        </p>
                        {% endif %}
                    </div>
                </td>
                <td><div class="label">{{form_label(form.TypePrestation)}}</div></td>
                <td><div class="select">
                    <select id="TypePrestation" name="TypePrestation">
                      <option value="Type prestation">Type prestation</option>
                      {% for T in TypePresta %}
                          <option value{{T}}>{{T}}</option>
                      {% endfor %} 
                    </select>
                  </div></td>
                  <td>
                    <button class="btn btn-primary">{{ button_label|default('Rechercher') }}</button>
                  </td>
            </tr>
        </table>
        
        
    </div>
    
    
</div>
{{ form_end(form,{'render_rest': false}) }}

<script>
    function update_modele(){
        var selectedValue = document.getElementById("marque").value;
        //console.log(selectedValue);
        var liste_modele= document.getElementById("liste_modele").value;
        //console.log(liste_modele);
        var modele=JSON.parse(liste_modele);
        //console.log(modele);
        var x = document.getElementById("modele");
        for(var i in modele)
        {
            if (modele[i].marque==selectedValue){
                var option = document.createElement("option");
                option.value = modele[i].modele;
                //console.log(option.value);
                option.text = modele[i].modele;
                x.add(option);
            }
        }
        //console.log (modele_final);

    }function update_version(){
        var selectedValueModele = document.getElementById("modele").value;
        var selectedValueMarque = document.getElementById("marque").value;
        console.log(selectedValueModele);
        var liste_version= document.getElementById("liste_version").value;
        //console.log(liste_version);
        var version=JSON.parse(liste_version);
        //console.log(version);
        var x = document.getElementById("version");
        for(var i in version)
        {
            if (version[i].marque==selectedValueMarque){
                //console.log(version[i]);
                if (version[i].modele==selectedValueModele){
                    //console.log(version[i].modele,version[i].version);
                    var option = document.createElement("option");
                    option.value = version[i].marque + "/" + version[i].modele + "/" + version[i].version;
                    //console.log(option.value);
                    option.text = version[i].version;
                    x.add(option);
                }
                
            }
        }
        //console.log (modele_final);

    }
</script>
