{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}
    {% if message is defined %}
        {{message}}
    {% endif %}
    {{ parent() }}
    <h1>Devis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type de prestation</th>
                <th>Nom garage</th>
                <th>Prix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
        {% for devi in devis %}
            <tr>
                <td>{{ devi.nom_prestation }}</td>
                <td>{{ devi.nom_garage }}</td>
                <td>{{ devi.prix }}</td>
                <td>
                    <a href="{{ path('devis_show', {'id': devi.id}) }}">show</a>
                    <a href="{{ path('devis_edit', {'id': devi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> #}

    <a href="{{ path('devis_new') }}">Create new</a>
{% endblock %}
