{% extends 'base.html.twig' %}
{% block title %}devis{% endblock %}
{% block head %}
    {{ parent() }}
    <script language="JavaScript">

        /*
        Dynamic Calendar II (By Jason Moon at http://www.jasonmoon.net)
        Permission granted to Dynamicdrive.com to include script in archive
        For this and 100's more DHTML scripts, visit http://dynamicdrive.com
        */
        
        var ns6=document.getElementById&&!document.all
        var ie4=document.all
        
        var Selected_Month;
        var Selected_Year;
        var Current_Date = new Date();
        var Current_Month = Current_Date.getMonth();
        
        var Days_in_Month = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
        var Month_Label = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
        
        var Current_Year = Current_Date.getYear();
        if (Current_Year < 1000)
        Current_Year+=1900
        
        
        var Today = Current_Date.getDate();
        
        function Header(Year, Month) {
        
           if (Month == 1) {
           Days_in_Month[1] = ((Year % 400 == 0) || ((Year % 4 == 0) && (Year % 100 !=0))) ? 29 : 28;
           }
           var Header_String = Month_Label[Month] + ' ' + Year;
           return Header_String;
        }
        
        
        
        function Make_Calendar(Year, Month) {
           var First_Date = new Date(Year, Month, 1);
           var Heading = Header(Year, Month);
           var First_Day = First_Date.getDay() + 1;
           if (((Days_in_Month[Month] == 31) && (First_Day >= 6)) ||
               ((Days_in_Month[Month] == 30) && (First_Day == 7))) {
              var Rows = 6;
           }
           else if ((Days_in_Month[Month] == 28) && (First_Day == 1)) {
              var Rows = 4;
           }
           else {
              var Rows = 5;
           }
        
           var HTML_String = '<table><tr><td valign="top"><table BORDER=4 CELLSPACING=1 cellpadding=2 FRAME="box" BGCOLOR="C0C0C0" BORDERCOLORLIGHT="808080">';
        
           HTML_String += '<tr><th colspan=7 BGCOLOR="FFFFFF" BORDERCOLOR="000000">' + Heading + '</font></th></tr>';
        
           HTML_String += '<tr><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Sun</th><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Mon</th><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Tue</th><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Wed</th>';
        
           HTML_String += '<th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Thu</th><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Fri</th><th ALIGN="CENTER" BGCOLOR="FFFFFF" BORDERCOLOR="000000">Sat</th></tr>';
        
           var Day_Counter = 1;
           var Loop_Counter = 1;
           for (var j = 1; j <= Rows; j++) {
              HTML_String += '<tr ALIGN="left" VALIGN="top">';
              for (var i = 1; i < 8; i++) {
                 if ((Loop_Counter >= First_Day) && (Day_Counter <= Days_in_Month[Month])) {
                    if ((Day_Counter == Today) && (Year == Current_Year) && (Month == Current_Month)) {
                       HTML_String += '<td BGCOLOR="FFFFFF" BORDERCOLOR="000000"><strong><font color="red">' + Day_Counter + '</font></strong></td>';
                    }
                    else {
                       HTML_String += '<td BGCOLOR="FFFFFF" BORDERCOLOR="000000">' + Day_Counter + '</td>';
                    }
                    Day_Counter++;    
                 }
                 else {
                    HTML_String += '<td BORDERCOLOR="C0C0C0"> </td>';
                 }
                 Loop_Counter++;
              }
              HTML_String += '</tr>';
           }
           HTML_String += '</table></td></tr></table>';
           cross_el=ns6? document.getElementById("Calendar") : document.all.Calendar
           cross_el.innerHTML = HTML_String;
        }
        
        
        function Check_Nums() {
           if ((event.keyCode < 48) || (event.keyCode > 57)) {
              return false;
           }
        }
        
        
        
        function On_Year() {
           var Year = document.when.year.value;
           if (Year.length == 4) {
              Selected_Month = document.when.month.selectedIndex;
              Selected_Year = Year;
              Make_Calendar(Selected_Year, Selected_Month);
           }
        }
        
        function On_Month() {
           var Year = document.when.year.value;
           if (Year.length == 4) {
              Selected_Month = document.when.month.selectedIndex;
              Selected_Year = Year;
              Make_Calendar(Selected_Year, Selected_Month);
           }
           else {
              alert('Please enter a valid year.');
              document.when.year.focus();
           }
        }
        
        
        function Defaults() {
           if (!ie4&&!ns6)
           return
           var Mid_Screen = Math.round(document.body.clientWidth / 2);
           document.when.month.selectedIndex = Current_Month;
           document.when.year.value = Current_Year;
           Selected_Month = Current_Month;
           Selected_Year = Current_Year;
           Make_Calendar(Current_Year, Current_Month);
        }
        
        
        function Skip(Direction) {
           if (Direction == '+') {
              if (Selected_Month == 11) {
                 Selected_Month = 0;
                 Selected_Year++;
              }
              else {
                 Selected_Month++;
              }
           }
           else {
              if (Selected_Month == 0) {
                 Selected_Month = 11;
                 Selected_Year--;
              }
              else {
                 Selected_Month--;
              }
           }
           Make_Calendar(Selected_Year, Selected_Month);
           document.when.month.selectedIndex = Selected_Month;
           document.when.year.value = Selected_Year;
        }
        
        </script>
{% endblock %}
{% block body %}
    <body onLoad="Defaults()">
    

    {{ parent() }}
    {% for garage in liste_garage %}
    <form  action="resultat/final" class="input-group" method="POST">
        <div class="card" style="width: 30rem; margin-left:5%; margin-bottom:2%">
            {# <img class="card-img-top" src="../../../../public/logo.png"> #}
            <div class="card-body">
                <h4> 
                    <div>
                        <input type="hidden" name="garage" id="garage" value="{{garage.id}}"/>
                        <label>{{garage.nom_garage}} </label>
                    </div>
                    
                </h4> 
                <div>
                    <input type="hidden" name="presta" id="presta" value="{{presta}}"/>
                </div>
                {# <input type="checkbox" checked="checked"  onclick="return false" class="checkbox" name="piece2[]" id="piece2" value="{{piece.genartnr}}"/>{{piece.nom}} #}
                {% set count = 0 %}
                {% set prix_total = 0 %}
                {% for info_piece_total in liste_pieces_info_final %}
                    {% if info_piece_total.type_taux_horaire == 'T1' %}
                        <div>
                            <input type="checkbox"  checked onclick="return false" name="piece[]" id="piece" value="{{info_piece_total.genartnr}} / {{info_piece_total.temps}} / {{info_piece_total.bez}} / {{info_piece_total.marke}} / {{info_piece_total.c_all}}"/>
                            <label for="piece"  >{{info_piece_total.bez}} / {{info_piece_total.marke}} / {{info_piece_total.c_all}} €</label>
                        </div>
                        {% set count = count + garage.t1 * info_piece_total.temps %}
                        {% set prix_total = prix_total + (garage.t1 * info_piece_total.temps + info_piece_total.c_all) %}
                    {% endif %}    
                {% endfor %}
                <div>
                    <input type="checkbox" checked onclick="return false" name="prix_main_oeuvre" id="prix_main_oeuvre" value="{{count}}"/>
                    <label for="prix_main_oeuvre" >main d'oeuvre: {{count}} €</label>
                    
                </div>
                <h5>
                    <div>
                        <input  type="hidden" name="prix_total" id="prix_total" value= "{{ prix_total }}"/>
                        <label> prix TTC: {{ prix_total }} € </label>
                    </div>
                </h5>

                {# création d'un calendrier #}
                <label for="date">RDV:</label>
                <input type="date" id="date" name="date">

                <label for="heure">Heure:</label>
                <select name="heure" id="heure">
                    <option value="">Choisissez une heure</option>
                    <option value="8h">8h</option>
                    <option value="10h">10h</option>
                    <option value="12h">12h</option>
                    <option value="14h">14h</option>
                    <option value="16h">16h</option>
                    <option value="18h">18h</option>
                </select>

                <input   type="submit" value="Valider" class="btn btn-primary">
            </div>
        </div>
    </form>
    </body>
    {% endfor %}
{% endblock %}